/* You can add global styles to this file, and also import other style files */

/* Menu */

.divider-shadow {
  box-shadow: 0px 1.5px 5px #adb5bd;
}

.menu-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu {
  padding: 20px;
}

/* Grayscale Theme */

.navbar-grayscale {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2.5px 10px #6c757d;
  background-color: #ced4da;
  /*background: linear-gradient(to right, #adb5bd, #ced4da);*/

}

.fit-view {
  height:100vh;
}

.dashboard-main-theme-grayscale {
  /*background-color: #e9ecef;*/
  /*background-color: #dee2e6;*/
  /*background: linear-gradient(to right, #adb5bd, #dee2e6);*/
  background: linear-gradient(to right, #ced4da, #e9ecef);
  
}

.menu-theme-grayscale {
  box-shadow: 2.5px 0px 10px #6c757d;
  background-color: #adb5bd;
  background: linear-gradient(to right, #dee2e6, #ced4da);
}

/* Colors */

.gray-100 { /* Lightest */
  color: #f8f9fa;
}

.gray-200{ /* Primary Light */
  color: #e9ecef;
}

.gray-300 { /* Primary */
  color: #dee2e6;
}


.gray-400 { /* Secondary */
  color: #ced4da; 
}

.gray-500 { /* Secondary Dark */
  color: #adb5bd; 
}

.gray-600 { /* Dark */
  color: #6c757d;
}

.gray-700 {
  color: #495057;
}

.gray-800 {
  color: #343a40;
}

.gray-900 { /* Darkest */
  color: #212529;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
