/* You can add global styles to this file, and also import other style files */

/* References
/* https://getbootstrap.com/docs/5.0/utilities/colors/ */

.navbar-medium {
  background-color: #dee2e6;
  box-shadow: 0px 7.5px 10px #adb5bd;
}

.navbar-button-medium {
  box-shadow: 0px 0px 10px #adb5bd;
  height: 75%;
  color: #adb5bd;
  background-color: #dee2e6;
  border: 3px solid #dee2e6;
  border-radius: 14px;
  font-size: 24px;
  font-weight: 300;
  margin: 0.5rem;
  margin-left: 1rem;
}

/* Grayscale Colors */
.gray-100 { /* Lightest */
  color: #f8f9fa;
}

.gray-200{
  color: #e9ecef;
}

.gray-300 {
  color: #dee2e6;
}

.background-gray-300 {
  background-color: #dee2e6;
};

.gray-400 { /* Light Medium */
  color: #ced4da; 
}

.gray-500 { /* Medium */
  color: #adb5bd; 
}

.gray-600 { /* Secondary */
  color: #6c757d;
}

.gray-700 {
  color: #495057;
}

.gray-800 {
  color: #343a40;
}

.gray-900 { /* Dark */
  color: #212529;
}
