
<mat-card class="mainCard">

  <mat-accordion style="margin: 25px;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="text-align: center;">Inventory Instances</mat-panel-title>
        <mat-panel-description style="text-align: right; font-style: italic">
          Create & manage inventory database instances
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="justify-content: center;">
        <button mat-button style="box-shadow: 0px 0px 5px #adb5bd" (click)="createDatabaseInstance()">Create Instance</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
    
</mat-card>
