/* You can add global styles to this file, and also import other style files */

/* Card */

.mainCard {
  border-radius: 32px;
  height:87%; margin: 12px
}

/*
.mat-card {
  background-color: #ced4da;
} */

mat-expansion-panel-header:hover {
  background-color: black;
}

/* Menu */

.divider-shadow {
  box-shadow: 0px 0x 5px #adb5bd;
}

.menu-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Grayscale Theme */

.grayscale-theme-primary {
  background-color: #ced4da;
}

.grayscale-theme-secondary-light {
  background-color: #e9ecef;
}

.grayscale-theme-secondary-dark {
  background-color: #adb5bd;
}

.navbar {
  box-shadow: 0px 2.5px 10px #6c757d;
}

.menu {
  box-shadow: 2.5px 0px 10px #6c757d;
}

.fit-view {
  height:100vh;
}

/* Colors */

.gray-100 { 
  color: #f8f9fa;
}

.gray-200{ 
  color: #e9ecef;
}

.gray-300 { 
  color: #dee2e6;
}

.gray-400 { 
  color: #ced4da; 
}

.gray-500 { 
  color: #adb5bd; 
}

.gray-600 { 
  color: #6c757d;
}

.gray-700 {
  color: #495057;
}

.gray-800 {
  color: #343a40;
}

.gray-900 { 
  color: #212529;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
