<div style="margin:25px; height: auto; width: auto;">
  <div style="margin-bottom: 25px;">
    <h1 style="text-align: center; font-size: large;" class="mat-dialog-title">New Inventory Instance</h1>
  </div>
  <div style="text-align: left;" class="col mat-dialog-content example-container">
    <form class="example-form">
      <table [cellSpacing]="0">
        <tr>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="data.name" placeholder="Inventory Name">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="data.desc" placeholder="Inventory Desc.">
          </mat-form-field>
        </tr>
      </table>
    </form>
    <div style="text-align: right;">
      <button mat-button [mat-dialog-close]="data" style="box-shadow: 0px 0px 5px #adb5bd">Save</button>
    </div>
  </div>
</div>
